<% url = match_session.persisted? ? update_match_session_path(match_session, edit_token: match_session.edit_token) : nil %>
<% method = match_session.persisted? ? :patch : :post %>

<%= form_with model: match_session, url: url, method: method do |form| %>
  <% if match_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match_session.errors.count, "error") %> prohibited this match_session from being saved:</h2>
      <ul>
        <% match_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username1, style: "display: block" %>
    <%= form.text_field :username1 %>
  </div>

  <div>
    <%= form.label :username2, style: "display: block" %>
    <%= form.text_field :username2 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>