<p style="color: green"><%= notice %></p>

<%= render @match_session %>

<div>
  <%= link_to "Edit this match session", edit_match_session_path(@match_session) %> |
  <%= link_to "Back to match sessions", match_sessions_path %>

  <%= button_to "Destroy this match session", @match_session, method: :delete %>
</div>
